@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table id="customers" class="table table-bordered table-hover">

    <thead>
        <tr>
            <th>Customer</th>
            <th>MemberShipType</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
       @*@foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { Id = customer.Id }, null)</td>
                <td>@customer.MemberShipType.Name</td>
                <td>
                    <button data-customer-id="@customer.Id"   class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }*@
    </tbody>

</table>
@section scripts
{
    <script>
        $(document).ready(function () {
           // $("#customers").DataTable();
            $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    datasrc: ""
                },
                columns: [
                    { data: "Name" },
                    { data: "MemberShipType.Name" },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id=" +data+">Delete</button>"
                        }
                    }
                ]
             });
            $("#customers").on("click","js-delete", function () {
                var button = $(this);
                bootbox.confirm("Delete?", function (result) {
                    if (result) {
                        $.ajax({

                            url: "api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    };
                })
        });
        });
    </script>
}